@import "tailwindcss";

@theme {
  /* Cores dinâmicas para a tua App de Weather */
  --color-cold: #3b82f6;
  --color-warm: #f97316;
  --color-hot: #ef4444;

  /* Custom border-radius mais suave para os teus cards */
  --radius-weather: 2rem;
}

:root {
  --color: 255, 255, 255;
  --background: bg-[#0b131e];
  --card: #172554;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: 255, 255, 255;
    --background: bg-[#0b131e];
    --card: #172554;
  }
}

@theme inline {
  --color: var(--color-cold);
  --background: var(--background);
  --card-background: var(--card);
}

body {
  @apply bg-[#0b131e] text-white;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility glass-effect {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
